*{
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 600px) {
   body {
       margin: 0;
       padding: 0;
   }
   header, footer, main {
       width: 100%;
   }
   nav ul {
       flex-direction: column;
   }
   nav ul li {
       display: block;
       margin: 10px 0;
   }
}

.main-header-part{
    height: 120px;
    background-color:black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.Logo-part{
    height: 120px;
    width: 200px;
    margin-left: 100px;
    padding-top: 5px;
    display: inline-block;
}

.nav-menu{
    height: 120px;
    width: 810px;
    margin-left: 580px;
    display: inline-block;
    vertical-align: top;
}

a{
    text-decoration: none;
}
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #555;
    color: #fff;
    border: none;
    padding: 40px 40px;
    cursor: pointer;
    display: none; 
    transition: background-color 0.3s; 
}

.scroll-to-top:hover {
    background-color: blue;
}
.nav-menu li{
    display: inline;
    margin-right: 65px;
    vertical-align: -55px;
}
.nav-menu a{
    color: white;
    font-size: 30px;
    transition: color 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.nav-menu a:hover{
   color:gold;
}

.Car{
    height: 800px;
    background-image: url(../png/green-car.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.text-with-car{
    margin-left: 1100px;
    width: 700px;
    padding-top: 70px;
    font-size: 60px;
    font-weight: bold;
    line-height: 130px;
    font-family: Arial, Helvetica, sans-serif;
}

.text-with-car span {
    opacity: 0;
    display: inline-block;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.gray-bg{
    height: 800px;
    background-color: #f4f4f4;
    padding-top: 110px;
    display: flex;
    justify-content: space-between;
}

.container_bg_1{
    margin-left: 200px;
    width: 450px;
    height: 650px;
    background-color: white;
    border-radius: 45px;
}

.about-us{
    margin-left: 140px;
    padding-top: 30px;
    font-size: 40px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.information{
    padding-top: 50px;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height: 50px;
}

.container_bg_2{
    margin-right: 200px;
    width: 450px;
    height: 650px;
    background-color: white;
    border-radius: 45px;
}

.our-mission{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-left: 45px;
    padding-top: 30px;
}

.information_2{
    padding-top: 50px;
    font-size: 26px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height: 50px;

}

.green-button-container {
    text-align: center;
    margin: 250px 0;
}

.green-button {
    background-color: green;
    color: white;
    padding: 30px 40px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.green-button:hover {
    transform: scale(1.1); 
    background-color: black;
    color: white;
}

.join-text {
    font-size: 50px;
    color: black;
    padding-bottom: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.white-bg{
    height: 900px;
}

.white-bg span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px;
    font-weight: bold;
    margin-left: 550px;
}
.reason-container {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}

.reason {
    background-color: #201e1e;
    color: white;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
    color:gold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    font-size: 30px;
    line-height: 1.6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gray-bg-2{
    height: 550px;
    background-color: #f4f4f4;
}

.gray-bg-2 span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-left: 150px;
}

.allow-zone{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-left: 150px;
    padding-top: 30px;
    width: 670px;
}

.city-list{
    margin-left: 150px;
    padding-top: 15px;
    width: 700px;
    font-size: 40px;
    display: inline-block;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.city-list li{
    margin-bottom: 15px;
    width: 180px;
}

.white-bg-2{
    height: 700px;

}

.our-car{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-left: 850px;
}

.cars{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.first-car-block{
    width: 450px;
    height: 400px;
    background-color: #f4f4f4;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.second-car-block{
    width: 450px;
    height: 400px;
    background-color: #f4f4f4;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.third-car-block{
    width: 450px;
    height: 400px;
    background-color: #f4f4f4;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-car-block img{
    transition: transform 0.3s ease-in-out;
}

.first-car-block:hover img{
    transform: scale(1.1);
}
.second-car-block img{
    transition: transform 0.3s ease-in-out;
}

.second-car-block:hover img{
    transform: scale(1.1);
}
.third-car-block img{
    transition: transform 0.3s ease-in-out;
}

.third-car-block:hover img{
    transform: scale(1.1);
}
.block-to-1{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 130px;
    width: 720px;
    display: inline-block;
}

.block-to-2{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 1000x;
    display: inline-block;
    width: 740px;
}

.block-to-3{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    width: 250px;
}

.black-bg{
    height: 400px;
    background-color: black;
    display: block;
}
.black-bg span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    display: block;
}
.block-info{
    width: 1000px;
    height: 300px;
    margin-left: 460px;
    padding-top: 50px;
}

.email{
    width: 330px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
}

.email-1{
    width: 200px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: gold;
}
.email-2{
    padding-top: 50px;
    color:white;
    font-size: 20px;
}
.number{
    width: 330px;
    height: 300px;
    display: inline-block;
    vertical-align: top;    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.number-1{
    width: 200px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: gold;
    text-align: center;
    margin-left: 40px;
}
.number-2{
    padding-top: 50px;
    color:white;
    font-size: 20px;
    margin-left: 80px;
}

.social{
    width: 330px;
    height: 300px;
    display: inline-block;
    vertical-align: top;    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.follow{
    width: 300px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: gold;
    text-align: center;
    margin-left: 40px;
}

.logos{
    display: inline-block;
    padding-top: 30px;
    text-align: center;
    margin-left: 140px;
}
